body{
    background: #f0f0f0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: fit-content;
}

.headline {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}

.zip, .feel{
    margin-bottom: 10px;
}

.holder{
padding-bottom: 10px;
}

.entry{
    background-color: #f0f0f0;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

#date,
#temp,
#content{
    margin: 10px 0;
}



/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    font-size: 16px;
    font-weight: bold;
}

input, textarea{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input {
    height: 20px;
}

textarea {
    resize: none;
}

button{
    background-color: #4285f4;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: rgba(255, 255, 255, 0.5); 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: rgba(255, 255, 255, 0.5); 
    font-family: 'Oswald', sans-serif;

} 